#body {
  margin: 1%;
}

#header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}


#content {
  padding-bottom: 50px;   /* Plus Height of the footer */
}
#content::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;         /* Height of the footer */
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 0 20px;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}


#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
    background-color: #111;
}


/* Login */
#login-form {
    margin: 28px auto;
    padding: 14px;
    background-color: lightgrey;
    text-align: center;
    width: 300px;}
#login-username {margin: 14px; text-align: center;}


/* Channels */
#channels-container {
    margin: 10px 1%;
    padding: 10px;
    width: 45%;
    float: left;
}

h2 {
  text-align: center;
}

#channels-form-container, #messages-form-container {
  text-align: center;
  padding: 20px 0px;
  background: whitesmoke;
}

#channels {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#channels li {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid grey;
}

 #channels li.channel {
   background-color: whitesmoke;
   color: black;
 }

 #channels li.channel-selected {
   background-color: darkgrey;
   color: white;
   font-weight: bold;
 }

 #channels li.channel:hover {
   background-color: lightgrey;
 }


 /* Message Board */
 #messages-container {
     margin: 10px 1%;
     padding: 10px;
     width: 45%;
     float: right;
 }

 #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 #messages li {
   display: block;
   margin: 5px;
   padding: 5px;
   border-bottom: 1px solid grey;
   color: black;
 }

 .msg-author {
   font-size: 10px;
   font-style: italic;
   color: blue;
 }

 .msg-timestamp {
   color: darkgrey;
   font-size: 10px;
 }

 .msg-body {
   font-family: arial;
 }

 .msg-remove {
  float: right;
}
