{% extends "base.html" %}

{% block title %}Channels{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.3.6.min.js') }}"></script>
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->

  <script>

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var username = localStorage.getItem('username');

    // on connect, add event handler to form submit button
    socket.on('connect', function(){
      document.querySelector("#form").onsubmit = () => {
          socket.emit("add new", {"channel": document.querySelector("#channel-new").value});
          document.querySelector("#channel-new").value = '';
          return false;
      }
    });

    // CHANNEL LIST
    function show_new_channel(channelname){
      const li = document.createElement("li");
      li.className = 'channel-option';
      li.innerHTML = channelname;
      li.onclick = function() {
        let data = {
          'username': username,
          'channel': this.innerHTML
        };
        document.querySelectorAll('#channels li').forEach((li) => {li.className="channel-option";});
        this.className = "channel-selected";
        socket.emit('join', data);
      };
      document.querySelector('#channels').prepend(li);
    };

    socket.on('show all', (channels) => { channels.forEach(show_new_channel) } );
    socket.on('show new', show_new_channel);

    // MESSAGE BOARD
    function show_one_message(data){
      const li = document.createElement("li");
      li.innerHTML = `<span class='msg-timestamp'>${data.timestamp}</span>
                      <span class='msg-author'>${data.author}</span>
                      </br>
                      <span class="msg-body">${data.message}</span>`;
      document.querySelector('#messages').prepend(li);
    };

    socket.on('enter channel', (data) => {
      document.querySelector('#msg-channel').innerHTML = "Channel: " + data.channel;
      document.querySelector("#msg-form").onsubmit = () => {
          socket.emit("new message", {
            "channel": data.channel,
            "username": username,
            "message": document.querySelector("#msg-new").value
          });
          document.querySelector("#msg-new").value = '';
          return false;
      };
      document.querySelector('#messages').innerHTML = "";
      data.messages.forEach(show_one_message);
    });
    socket.on('show new message', show_one_message);


  </script>
{% endblock %}

{% block content %}
  <div id="channels-container">
    <h2>All Channels</h2>
    <div id="form-container">
      <form id="form" action="">
        <input id="channel-new" autocomplete="off" />
        <button>add new</button>
      </form>
    </div>
    <ul id="channels"></ul>
  </div>
  <div id="messageboard">
    <h2>Messages</h2>
    <div id="msg-form-container">
      <form id="msg-form" action="">
        <input id="msg-new" autocomplete="off" />
        <button>send</button>
      </form>
    </div>
    <h3 id="msg-channel"></h3>
    <ul id="messages"></ul>
  </div>
{% endblock %}
