{% extends "base.html" %}

{% block title %}Channels{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.3.6.min.js') }}"></script>
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='handlebars-4.0.11.min.js') }}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> -->
  <script src="{{url_for('static', filename='channels.js')}}"></script>

  <script id="message-template" type="text/x-handlebars-template">
    <li>
      {% raw -%}
      <span class='msg-timestamp'>{{ data.timestamp }}</span>
      <span class='msg-author'>{{ data.author }}</span>
      </br>
      <span class="msg-body">{{ data.message }}</span>
      {%- endraw %}
    </li>
  </script>
{% endblock %}

{% block content %}

  <form id="login-form" action="" style="display:none">
     Please submit your username:<br>
     <input type="text" id="login-username" name="username"><br>
     <button type="submit" id="login-submit">Send</button>
  </form>

  <h2 id="greeting" style="display:none"></h2>

  <div id="channels-container" style="display:none">
    <h2>All Channels</h2>
    <div id="channels-form-container">
      <form id="channels-form" action="">
        <input id="channels-new-input" autocomplete="off" type="text"/>
        <button type="submit">add new</button>
      </form>
    </div>
    <ul id="channels"></ul>
  </div>

  <div id="messages-container" style="display:none">
    <h2>Messages</h2>
    <div id="messages-form-container">
      <form id="messages-form" action="">
        <input id="messages-new-input" autocomplete="off" type="text"/>
        <button type="submit">send</button>
      </form>
    </div>
    <h3 id="messages-channel-name"></h3>
    <ul id="messages"></ul>
  </div>

{% endblock %}
