{% extends "base.html" %}

{% block title %}Channels{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.3.6.min.js') }}"></script>
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->

  <script>

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // on connect, add event handler to form submit button
    socket.on('connect', function(){
      document.querySelector("form").onsubmit = () => {
          socket.emit("add new", {"channel": document.querySelector("#channel-new").value});
          document.querySelector("#channel-new").value = '';
          return false;
      }
    });

    // event callbacks
    function show_new_channel(channelname){
      const li = document.createElement("li");
      li.className = 'channel-single';
      li.innerHTML = channelname;
      document.querySelector('#channels').append(li);
    };
    socket.on('show all', (channels) => { channels.forEach(show_new_channel) } );
    socket.on('show new', show_new_channel);

  </script>
{% endblock %}

{% block content %}
  <div id="channels-container">
    <h2>All Channels</h2>
    <div id="form-container">
      <form id="form" action="">
        <input id="channel-new" autocomplete="off" />
        <button>add new</button>
      </form>
    </div>
    <ul id="channels"></ul>
  </div>
  <div id="messageboard">
    <h2>Messages</h2>
    <h3 id="channel-selected"></h3>
    <ul id="messages"></ul>
  </div>
{% endblock %}
